header {
    text-align: center;
    font-size: 20px;
    color: blueviolet;
    font-weight: bolder;
}

nav li {
    display: inline-block;
    color: blue;
    font-weight: bolder;
    width: 100px;
    text-align: center;
}