h1 {
    text-align: left;
    position: absolute;
    left: 215px;
}

ul {
    list-style-type: none;
    display: inline;
}

.first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 200px;

    /* Coloca no centro o bloco da equipe 1 */
    display: block;
    position: absolute;
    top: 79px;
    left: 250px;
}

.second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    
    /* Posiciona o bloco da equipe 2 */
    display: inline-block;
    position: absolute;
    top: 130px;
}

.third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    
    /* Posiciona o bloco da equipe 3 */
    display: inline-block;
    position: absolute;
    top: 130px;
    left: 350px;
}

/* Corrige a posição da seção 2, centraliza os elementos e formata o display para o tipo inline-block */
section:nth-of-type(2) {
    position: absolute;
    top: 200px;
    text-align: center;
}

section:nth-of-type(2) li {
    display: inline-block;
}